<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunvalley.erp.product.dao.ItemMapper">
<!-- ================================代码生成开始=2017-10-13 02:11:30=========================================== -->

    <resultMap  id="BaseResultMap" type="com.sunvalley.erp.product.model.Item">
        <result column="skuid" property="skuid" jdbcType="INTEGER"/>
        <result column="sku" property="sku" jdbcType="VARCHAR"/>
        <result column="len" property="len" jdbcType="SMALLINT"/>
        <result column="width" property="width" jdbcType="SMALLINT"/>
        <result column="height" property="height" jdbcType="SMALLINT"/>
        <result column="weight" property="weight" jdbcType="SMALLINT"/>
        <result column="volweight" property="volweight" jdbcType="SMALLINT"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="active" property="active" jdbcType="SMALLINT"/>
        <result column="isdrop" property="isdrop" jdbcType="BIT"/>
        <result column="drop_def" property="dropDef" jdbcType="BIT"/>
        <result column="isvirtual" property="isvirtual" jdbcType="TINYINT"/>
        <result column="line_state" property="lineState" jdbcType="TINYINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="issale" property="issale" jdbcType="BIT"/>
        <result column="zero_stock" property="zeroStock" jdbcType="BIT"/>
        <result column="zero_whid" property="zeroWhid" jdbcType="SMALLINT"/>
        <result column="zero_qty" property="zeroQty" jdbcType="SMALLINT"/>
        <result column="boxtype" property="boxtype" jdbcType="TINYINT"/>
        <result column="pmid" property="pmid" jdbcType="INTEGER"/>
        <result column="peid" property="peid" jdbcType="INTEGER"/>
        <result column="isoriginal" property="isoriginal" jdbcType="BIT"/>
        <result column="purdesc" property="purdesc" jdbcType="VARCHAR"/>
        <result column="purspec" property="purspec" jdbcType="VARCHAR"/>
        <result column="leadtime" property="leadtime" jdbcType="TINYINT"/>
        <result column="skulable" property="skulable" jdbcType="VARCHAR"/>
        <result column="innersku_id" property="innerskuId" jdbcType="INTEGER"/>
        <result column="outersku_id" property="outerskuId" jdbcType="INTEGER"/>
        <result column="pkgweight" property="pkgweight" jdbcType="SMALLINT"/>
        <result column="pkgrate" property="pkgrate" jdbcType="SMALLINT"/>
        <result column="purpkg" property="purpkg" jdbcType="VARCHAR"/>
        <result column="stopkg" property="stopkg" jdbcType="VARCHAR"/>
        <result column="standard" property="standard" jdbcType="INTEGER"/>
        <result column="versionno" property="versionno" jdbcType="SMALLINT"/>
        <result column="updateuserid" property="updateuserid" jdbcType="INTEGER"/>
        <result column="updatedate" property="updatedate" jdbcType="TIMESTAMP"/>
        <result column="haspic" property="haspic" jdbcType="BIT"/>
        <result column="updatepicuser" property="updatepicuser" jdbcType="VARCHAR"/>
        <result column="updatepicdate" property="updatepicdate" jdbcType="TIMESTAMP"/>
        <result column="desc_sourc" property="descSourc" jdbcType="VARCHAR"/>
        <result column="line_state_date" property="lineStateDate" jdbcType="TIMESTAMP"/>
        <result column="purtitle" property="purtitle" jdbcType="VARCHAR"/>
        <result column="brand_id" property="brandId" jdbcType="INTEGER"/>
        <result column="purchaser_id" property="purchaserId" jdbcType="INTEGER"/>
        <result column="product_len" property="productLen" jdbcType="SMALLINT"/>
        <result column="product_width" property="productWidth" jdbcType="SMALLINT"/>
        <result column="product_height" property="productHeight" jdbcType="SMALLINT"/>
        <result column="product_weight" property="productWeight" jdbcType="SMALLINT"/>
        <result column="product_volweight" property="productVolweight" jdbcType="SMALLINT"/>
        <result column="battery" property="battery" jdbcType="INTEGER"/>
        <result column="model" property="model" jdbcType="VARCHAR"/>
        <result column="psid" property="psid" jdbcType="INTEGER"/>
        <result column="updatedate2" property="updatedate2" jdbcType="TIMESTAMP"/>
        <result column="rmacategoryid" property="rmacategoryid" jdbcType="INTEGER"/>
        <result column="region" property="region" jdbcType="INTEGER"/>
        <result column="create_user_id" property="createUserId" jdbcType="INTEGER"/>
        <result column="pro_features" property="proFeatures" jdbcType="VARCHAR"/>
        <result column="categoryid" property="categoryid" jdbcType="INTEGER"/>
        <result column="subcategoryid" property="subcategoryid" jdbcType="INTEGER"/>
        <result column="is_package" property="isPackage" jdbcType="INTEGER"/>
        <result column="color" property="color" jdbcType="INTEGER"/>
        <result column="model_id" property="modelId" jdbcType="INTEGER"/>
        <result column="magnetic" property="magnetic" jdbcType="SMALLINT"/>
        <result column="sku_type" property="skuType" jdbcType="SMALLINT"/>
    </resultMap>

    <resultMap extends="BaseResultMap" id="selectPageResult" type="com.sunvalley.erp.product.model.Item" />

    <sql id="Values">
            #{skuid,jdbcType=INTEGER },
            #{sku,jdbcType=VARCHAR },
            #{len,jdbcType=SMALLINT },
            #{width,jdbcType=SMALLINT },
            #{height,jdbcType=SMALLINT },
            #{weight,jdbcType=SMALLINT },
            #{volweight,jdbcType=SMALLINT },
            #{createDate,jdbcType=TIMESTAMP },
            #{active,jdbcType=SMALLINT },
            #{isdrop,jdbcType=BIT },
            #{dropDef,jdbcType=BIT },
            #{isvirtual,jdbcType=TINYINT },
            #{lineState,jdbcType=TINYINT },
            #{remark,jdbcType=VARCHAR },
            #{issale,jdbcType=BIT },
            #{zeroStock,jdbcType=BIT },
            #{zeroWhid,jdbcType=SMALLINT },
            #{zeroQty,jdbcType=SMALLINT },
            #{boxtype,jdbcType=TINYINT },
            #{pmid,jdbcType=INTEGER },
            #{peid,jdbcType=INTEGER },
            #{isoriginal,jdbcType=BIT },
            #{purdesc,jdbcType=VARCHAR },
            #{purspec,jdbcType=VARCHAR },
            #{leadtime,jdbcType=TINYINT },
            #{skulable,jdbcType=VARCHAR },
            #{innerskuId,jdbcType=INTEGER },
            #{outerskuId,jdbcType=INTEGER },
            #{pkgweight,jdbcType=SMALLINT },
            #{pkgrate,jdbcType=SMALLINT },
            #{purpkg,jdbcType=VARCHAR },
            #{stopkg,jdbcType=VARCHAR },
            #{standard,jdbcType=INTEGER },
            #{versionno,jdbcType=SMALLINT },
            #{updateuserid,jdbcType=INTEGER },
            #{updatedate,jdbcType=TIMESTAMP },
            #{haspic,jdbcType=BIT },
            #{updatepicuser,jdbcType=VARCHAR },
            #{updatepicdate,jdbcType=TIMESTAMP },
            #{descSourc,jdbcType=VARCHAR },
            #{lineStateDate,jdbcType=TIMESTAMP },
            #{purtitle,jdbcType=VARCHAR },
            #{brandId,jdbcType=INTEGER },
            #{purchaserId,jdbcType=INTEGER },
            #{productLen,jdbcType=SMALLINT },
            #{productWidth,jdbcType=SMALLINT },
            #{productHeight,jdbcType=SMALLINT },
            #{productWeight,jdbcType=SMALLINT },
            #{productVolweight,jdbcType=SMALLINT },
            #{battery,jdbcType=INTEGER },
            #{model,jdbcType=VARCHAR },
            #{psid,jdbcType=INTEGER },
            #{updatedate2,jdbcType=TIMESTAMP },
            #{rmacategoryid,jdbcType=INTEGER },
            #{region,jdbcType=INTEGER },
            #{createUserId,jdbcType=INTEGER },
            #{proFeatures,jdbcType=VARCHAR },
            #{categoryid,jdbcType=INTEGER },
            #{subcategoryid,jdbcType=INTEGER },
            #{isPackage,jdbcType=INTEGER },
            #{color,jdbcType=INTEGER },
            #{modelId,jdbcType=INTEGER },
            #{magnetic,jdbcType=SMALLINT },
            #{skuType,jdbcType=SMALLINT }
    </sql>

    <sql id="ValuesBatch">
            #{item.skuid,jdbcType=INTEGER},
            #{item.sku,jdbcType=VARCHAR},
            #{item.len,jdbcType=SMALLINT},
            #{item.width,jdbcType=SMALLINT},
            #{item.height,jdbcType=SMALLINT},
            #{item.weight,jdbcType=SMALLINT},
            #{item.volweight,jdbcType=SMALLINT},
            #{item.createDate,jdbcType=TIMESTAMP},
            #{item.active,jdbcType=SMALLINT},
            #{item.isdrop,jdbcType=BIT},
            #{item.dropDef,jdbcType=BIT},
            #{item.isvirtual,jdbcType=TINYINT},
            #{item.lineState,jdbcType=TINYINT},
            #{item.remark,jdbcType=VARCHAR},
            #{item.issale,jdbcType=BIT},
            #{item.zeroStock,jdbcType=BIT},
            #{item.zeroWhid,jdbcType=SMALLINT},
            #{item.zeroQty,jdbcType=SMALLINT},
            #{item.boxtype,jdbcType=TINYINT},
            #{item.pmid,jdbcType=INTEGER},
            #{item.peid,jdbcType=INTEGER},
            #{item.isoriginal,jdbcType=BIT},
            #{item.purdesc,jdbcType=VARCHAR},
            #{item.purspec,jdbcType=VARCHAR},
            #{item.leadtime,jdbcType=TINYINT},
            #{item.skulable,jdbcType=VARCHAR},
            #{item.innerskuId,jdbcType=INTEGER},
            #{item.outerskuId,jdbcType=INTEGER},
            #{item.pkgweight,jdbcType=SMALLINT},
            #{item.pkgrate,jdbcType=SMALLINT},
            #{item.purpkg,jdbcType=VARCHAR},
            #{item.stopkg,jdbcType=VARCHAR},
            #{item.standard,jdbcType=INTEGER},
            #{item.versionno,jdbcType=SMALLINT},
            #{item.updateuserid,jdbcType=INTEGER},
            #{item.updatedate,jdbcType=TIMESTAMP},
            #{item.haspic,jdbcType=BIT},
            #{item.updatepicuser,jdbcType=VARCHAR},
            #{item.updatepicdate,jdbcType=TIMESTAMP},
            #{item.descSourc,jdbcType=VARCHAR},
            #{item.lineStateDate,jdbcType=TIMESTAMP},
            #{item.purtitle,jdbcType=VARCHAR},
            #{item.brandId,jdbcType=INTEGER},
            #{item.purchaserId,jdbcType=INTEGER},
            #{item.productLen,jdbcType=SMALLINT},
            #{item.productWidth,jdbcType=SMALLINT},
            #{item.productHeight,jdbcType=SMALLINT},
            #{item.productWeight,jdbcType=SMALLINT},
            #{item.productVolweight,jdbcType=SMALLINT},
            #{item.battery,jdbcType=INTEGER},
            #{item.model,jdbcType=VARCHAR},
            #{item.psid,jdbcType=INTEGER},
            #{item.updatedate2,jdbcType=TIMESTAMP},
            #{item.rmacategoryid,jdbcType=INTEGER},
            #{item.region,jdbcType=INTEGER},
            #{item.createUserId,jdbcType=INTEGER},
            #{item.proFeatures,jdbcType=VARCHAR},
            #{item.categoryid,jdbcType=INTEGER},
            #{item.subcategoryid,jdbcType=INTEGER},
            #{item.isPackage,jdbcType=INTEGER},
            #{item.color,jdbcType=INTEGER},
            #{item.modelId,jdbcType=INTEGER},
            #{item.magnetic,jdbcType=SMALLINT},
            #{item.skuType,jdbcType=SMALLINT}
    </sql>

    <sql id="SetNotNull">
                <if test="record.skuid != null">skuid= #{record.skuid,jdbcType=INTEGER },</if>
                <if test="record.sku != null">sku= #{record.sku,jdbcType=VARCHAR },</if>
                <if test="record.len != null">len= #{record.len,jdbcType=SMALLINT },</if>
                <if test="record.width != null">width= #{record.width,jdbcType=SMALLINT },</if>
                <if test="record.height != null">height= #{record.height,jdbcType=SMALLINT },</if>
                <if test="record.weight != null">weight= #{record.weight,jdbcType=SMALLINT },</if>
                <if test="record.volweight != null">volweight= #{record.volweight,jdbcType=SMALLINT },</if>
                <if test="record.createDate != null">create_date= #{record.createDate,jdbcType=TIMESTAMP },</if>
                <if test="record.active != null">active= #{record.active,jdbcType=SMALLINT },</if>
                <if test="record.isdrop != null">isdrop= #{record.isdrop,jdbcType=BIT },</if>
                <if test="record.dropDef != null">drop_def= #{record.dropDef,jdbcType=BIT },</if>
                <if test="record.isvirtual != null">isvirtual= #{record.isvirtual,jdbcType=TINYINT },</if>
                <if test="record.lineState != null">line_state= #{record.lineState,jdbcType=TINYINT },</if>
                <if test="record.remark != null">remark= #{record.remark,jdbcType=VARCHAR },</if>
                <if test="record.issale != null">issale= #{record.issale,jdbcType=BIT },</if>
                <if test="record.zeroStock != null">zero_stock= #{record.zeroStock,jdbcType=BIT },</if>
                <if test="record.zeroWhid != null">zero_whid= #{record.zeroWhid,jdbcType=SMALLINT },</if>
                <if test="record.zeroQty != null">zero_qty= #{record.zeroQty,jdbcType=SMALLINT },</if>
                <if test="record.boxtype != null">boxtype= #{record.boxtype,jdbcType=TINYINT },</if>
                <if test="record.pmid != null">pmid= #{record.pmid,jdbcType=INTEGER },</if>
                <if test="record.peid != null">peid= #{record.peid,jdbcType=INTEGER },</if>
                <if test="record.isoriginal != null">isoriginal= #{record.isoriginal,jdbcType=BIT },</if>
                <if test="record.purdesc != null">purdesc= #{record.purdesc,jdbcType=VARCHAR },</if>
                <if test="record.purspec != null">purspec= #{record.purspec,jdbcType=VARCHAR },</if>
                <if test="record.leadtime != null">leadtime= #{record.leadtime,jdbcType=TINYINT },</if>
                <if test="record.skulable != null">skulable= #{record.skulable,jdbcType=VARCHAR },</if>
                <if test="record.innerskuId != null">innersku_id= #{record.innerskuId,jdbcType=INTEGER },</if>
                <if test="record.outerskuId != null">outersku_id= #{record.outerskuId,jdbcType=INTEGER },</if>
                <if test="record.pkgweight != null">pkgweight= #{record.pkgweight,jdbcType=SMALLINT },</if>
                <if test="record.pkgrate != null">pkgrate= #{record.pkgrate,jdbcType=SMALLINT },</if>
                <if test="record.purpkg != null">purpkg= #{record.purpkg,jdbcType=VARCHAR },</if>
                <if test="record.stopkg != null">stopkg= #{record.stopkg,jdbcType=VARCHAR },</if>
                <if test="record.standard != null">standard= #{record.standard,jdbcType=INTEGER },</if>
                <if test="record.versionno != null">versionno= #{record.versionno,jdbcType=SMALLINT },</if>
                <if test="record.updateuserid != null">updateuserid= #{record.updateuserid,jdbcType=INTEGER },</if>
                <if test="record.updatedate != null">updatedate= #{record.updatedate,jdbcType=TIMESTAMP },</if>
                <if test="record.haspic != null">haspic= #{record.haspic,jdbcType=BIT },</if>
                <if test="record.updatepicuser != null">updatepicuser= #{record.updatepicuser,jdbcType=VARCHAR },</if>
                <if test="record.updatepicdate != null">updatepicdate= #{record.updatepicdate,jdbcType=TIMESTAMP },</if>
                <if test="record.descSourc != null">desc_sourc= #{record.descSourc,jdbcType=VARCHAR },</if>
                <if test="record.lineStateDate != null">line_state_date= #{record.lineStateDate,jdbcType=TIMESTAMP },</if>
                <if test="record.purtitle != null">purtitle= #{record.purtitle,jdbcType=VARCHAR },</if>
                <if test="record.brandId != null">brand_id= #{record.brandId,jdbcType=INTEGER },</if>
                <if test="record.purchaserId != null">purchaser_id= #{record.purchaserId,jdbcType=INTEGER },</if>
                <if test="record.productLen != null">product_len= #{record.productLen,jdbcType=SMALLINT },</if>
                <if test="record.productWidth != null">product_width= #{record.productWidth,jdbcType=SMALLINT },</if>
                <if test="record.productHeight != null">product_height= #{record.productHeight,jdbcType=SMALLINT },</if>
                <if test="record.productWeight != null">product_weight= #{record.productWeight,jdbcType=SMALLINT },</if>
                <if test="record.productVolweight != null">product_volweight= #{record.productVolweight,jdbcType=SMALLINT },</if>
                <if test="record.battery != null">battery= #{record.battery,jdbcType=INTEGER },</if>
                <if test="record.model != null">model= #{record.model,jdbcType=VARCHAR },</if>
                <if test="record.psid != null">psid= #{record.psid,jdbcType=INTEGER },</if>
                <if test="record.updatedate2 != null">updatedate2= #{record.updatedate2,jdbcType=TIMESTAMP },</if>
                <if test="record.rmacategoryid != null">rmacategoryid= #{record.rmacategoryid,jdbcType=INTEGER },</if>
                <if test="record.region != null">region= #{record.region,jdbcType=INTEGER },</if>
                <if test="record.createUserId != null">create_user_id= #{record.createUserId,jdbcType=INTEGER },</if>
                <if test="record.proFeatures != null">pro_features= #{record.proFeatures,jdbcType=VARCHAR },</if>
                <if test="record.categoryid != null">categoryid= #{record.categoryid,jdbcType=INTEGER },</if>
                <if test="record.subcategoryid != null">subcategoryid= #{record.subcategoryid,jdbcType=INTEGER },</if>
                <if test="record.isPackage != null">is_package= #{record.isPackage,jdbcType=INTEGER },</if>
                <if test="record.color != null">color= #{record.color,jdbcType=INTEGER },</if>
                <if test="record.modelId != null">model_id= #{record.modelId,jdbcType=INTEGER },</if>
                <if test="record.magnetic != null">magnetic= #{record.magnetic,jdbcType=SMALLINT },</if>
                <if test="record.skuType != null">sku_type= #{record.skuType,jdbcType=SMALLINT }</if>
    </sql>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                    #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                    #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
            `skuid`,
            `sku`,
            `len`,
            `width`,
            `height`,
            `weight`,
            `volweight`,
            `create_date`,
            `active`,
            `isdrop`,
            `drop_def`,
            `isvirtual`,
            `line_state`,
            `remark`,
            `issale`,
            `zero_stock`,
            `zero_whid`,
            `zero_qty`,
            `boxtype`,
            `pmid`,
            `peid`,
            `isoriginal`,
            `purdesc`,
            `purspec`,
            `leadtime`,
            `skulable`,
            `innersku_id`,
            `outersku_id`,
            `pkgweight`,
            `pkgrate`,
            `purpkg`,
            `stopkg`,
            `standard`,
            `versionno`,
            `updateuserid`,
            `updatedate`,
            `haspic`,
            `updatepicuser`,
            `updatepicdate`,
            `desc_sourc`,
            `line_state_date`,
            `purtitle`,
            `brand_id`,
            `purchaser_id`,
            `product_len`,
            `product_width`,
            `product_height`,
            `product_weight`,
            `product_volweight`,
            `battery`,
            `model`,
            `psid`,
            `updatedate2`,
            `rmacategoryid`,
            `region`,
            `create_user_id`,
            `pro_features`,
            `categoryid`,
            `subcategoryid`,
            `is_package`,
            `color`,
            `model_id`,
            `magnetic`,
            `sku_type`
	</sql>


    <select id="selectByPrimaryKey"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM bs_item
        WHERE skuid = #{skuid,jdbcType=INTEGER}
    </select>


    <select id="selectByExample" parameterType="com.sunvalley.erp.product.model.ItemExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from bs_item
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

    <delete id="deleteByExample" parameterType="com.sunvalley.erp.product.model.ItemExample">
        delete from bs_item
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>


    <insert id="insert" parameterType="Item" keyProperty="skuid" useGeneratedKeys="true">
        INSERT INTO bs_item
        (<include refid="Base_Column_List"></include>)
        VALUES
        (<include refid="Values"></include>)
    </insert>

    <insert id="insertSelective" parameterType="com.sunvalley.erp.product.model.Item" keyProperty="skuid" useGeneratedKeys="true">
        insert into bs_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="SetNotNull" />
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="Values" />
        </trim>
    </insert>


    <select id="countByExample" parameterType="com.sunvalley.erp.product.model.ItemExample" resultType="java.lang.Integer">
        select count(*) from bs_item
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>


    <update id="updateByExampleSelective" parameterType="map">
        UPDATE bs_item
        <set>
            <include refid="SetNotNull"></include>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>

    </update>


    <update id="updateByExample" parameterType="map">
        UPDATE bs_item
        <set>
         skuid= #{record.skuid,jdbcType=INTEGER },
         sku= #{record.sku,jdbcType=VARCHAR },
         len= #{record.len,jdbcType=SMALLINT },
         width= #{record.width,jdbcType=SMALLINT },
         height= #{record.height,jdbcType=SMALLINT },
         weight= #{record.weight,jdbcType=SMALLINT },
         volweight= #{record.volweight,jdbcType=SMALLINT },
         create_date= #{record.createDate,jdbcType=TIMESTAMP },
         active= #{record.active,jdbcType=SMALLINT },
         isdrop= #{record.isdrop,jdbcType=BIT },
         drop_def= #{record.dropDef,jdbcType=BIT },
         isvirtual= #{record.isvirtual,jdbcType=TINYINT },
         line_state= #{record.lineState,jdbcType=TINYINT },
         remark= #{record.remark,jdbcType=VARCHAR },
         issale= #{record.issale,jdbcType=BIT },
         zero_stock= #{record.zeroStock,jdbcType=BIT },
         zero_whid= #{record.zeroWhid,jdbcType=SMALLINT },
         zero_qty= #{record.zeroQty,jdbcType=SMALLINT },
         boxtype= #{record.boxtype,jdbcType=TINYINT },
         pmid= #{record.pmid,jdbcType=INTEGER },
         peid= #{record.peid,jdbcType=INTEGER },
         isoriginal= #{record.isoriginal,jdbcType=BIT },
         purdesc= #{record.purdesc,jdbcType=VARCHAR },
         purspec= #{record.purspec,jdbcType=VARCHAR },
         leadtime= #{record.leadtime,jdbcType=TINYINT },
         skulable= #{record.skulable,jdbcType=VARCHAR },
         innersku_id= #{record.innerskuId,jdbcType=INTEGER },
         outersku_id= #{record.outerskuId,jdbcType=INTEGER },
         pkgweight= #{record.pkgweight,jdbcType=SMALLINT },
         pkgrate= #{record.pkgrate,jdbcType=SMALLINT },
         purpkg= #{record.purpkg,jdbcType=VARCHAR },
         stopkg= #{record.stopkg,jdbcType=VARCHAR },
         standard= #{record.standard,jdbcType=INTEGER },
         versionno= #{record.versionno,jdbcType=SMALLINT },
         updateuserid= #{record.updateuserid,jdbcType=INTEGER },
         updatedate= #{record.updatedate,jdbcType=TIMESTAMP },
         haspic= #{record.haspic,jdbcType=BIT },
         updatepicuser= #{record.updatepicuser,jdbcType=VARCHAR },
         updatepicdate= #{record.updatepicdate,jdbcType=TIMESTAMP },
         desc_sourc= #{record.descSourc,jdbcType=VARCHAR },
         line_state_date= #{record.lineStateDate,jdbcType=TIMESTAMP },
         purtitle= #{record.purtitle,jdbcType=VARCHAR },
         brand_id= #{record.brandId,jdbcType=INTEGER },
         purchaser_id= #{record.purchaserId,jdbcType=INTEGER },
         product_len= #{record.productLen,jdbcType=SMALLINT },
         product_width= #{record.productWidth,jdbcType=SMALLINT },
         product_height= #{record.productHeight,jdbcType=SMALLINT },
         product_weight= #{record.productWeight,jdbcType=SMALLINT },
         product_volweight= #{record.productVolweight,jdbcType=SMALLINT },
         battery= #{record.battery,jdbcType=INTEGER },
         model= #{record.model,jdbcType=VARCHAR },
         psid= #{record.psid,jdbcType=INTEGER },
         updatedate2= #{record.updatedate2,jdbcType=TIMESTAMP },
         rmacategoryid= #{record.rmacategoryid,jdbcType=INTEGER },
         region= #{record.region,jdbcType=INTEGER },
         create_user_id= #{record.createUserId,jdbcType=INTEGER },
         pro_features= #{record.proFeatures,jdbcType=VARCHAR },
         categoryid= #{record.categoryid,jdbcType=INTEGER },
         subcategoryid= #{record.subcategoryid,jdbcType=INTEGER },
         is_package= #{record.isPackage,jdbcType=INTEGER },
         color= #{record.color,jdbcType=INTEGER },
         model_id= #{record.modelId,jdbcType=INTEGER },
         magnetic= #{record.magnetic,jdbcType=SMALLINT },
         sku_type= #{record.skuType,jdbcType=SMALLINT }
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>

    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.sunvalley.erp.product.model.Item">
        update bs_item
        <set>
            <include refid="SetNotNull"></include>
        </set>
        WHERE skuid = #{record.skuid,jdbcType=INTEGER}
    </update>


    <update id="updateByPrimaryKey" parameterType="Item">
        UPDATE bs_item
        <set>
                skuid= #{skuid,jdbcType=INTEGER },
                sku= #{sku,jdbcType=VARCHAR },
                len= #{len,jdbcType=SMALLINT },
                width= #{width,jdbcType=SMALLINT },
                height= #{height,jdbcType=SMALLINT },
                weight= #{weight,jdbcType=SMALLINT },
                volweight= #{volweight,jdbcType=SMALLINT },
                create_date= #{createDate,jdbcType=TIMESTAMP },
                active= #{active,jdbcType=SMALLINT },
                isdrop= #{isdrop,jdbcType=BIT },
                drop_def= #{dropDef,jdbcType=BIT },
                isvirtual= #{isvirtual,jdbcType=TINYINT },
                line_state= #{lineState,jdbcType=TINYINT },
                remark= #{remark,jdbcType=VARCHAR },
                issale= #{issale,jdbcType=BIT },
                zero_stock= #{zeroStock,jdbcType=BIT },
                zero_whid= #{zeroWhid,jdbcType=SMALLINT },
                zero_qty= #{zeroQty,jdbcType=SMALLINT },
                boxtype= #{boxtype,jdbcType=TINYINT },
                pmid= #{pmid,jdbcType=INTEGER },
                peid= #{peid,jdbcType=INTEGER },
                isoriginal= #{isoriginal,jdbcType=BIT },
                purdesc= #{purdesc,jdbcType=VARCHAR },
                purspec= #{purspec,jdbcType=VARCHAR },
                leadtime= #{leadtime,jdbcType=TINYINT },
                skulable= #{skulable,jdbcType=VARCHAR },
                innersku_id= #{innerskuId,jdbcType=INTEGER },
                outersku_id= #{outerskuId,jdbcType=INTEGER },
                pkgweight= #{pkgweight,jdbcType=SMALLINT },
                pkgrate= #{pkgrate,jdbcType=SMALLINT },
                purpkg= #{purpkg,jdbcType=VARCHAR },
                stopkg= #{stopkg,jdbcType=VARCHAR },
                standard= #{standard,jdbcType=INTEGER },
                versionno= #{versionno,jdbcType=SMALLINT },
                updateuserid= #{updateuserid,jdbcType=INTEGER },
                updatedate= #{updatedate,jdbcType=TIMESTAMP },
                haspic= #{haspic,jdbcType=BIT },
                updatepicuser= #{updatepicuser,jdbcType=VARCHAR },
                updatepicdate= #{updatepicdate,jdbcType=TIMESTAMP },
                desc_sourc= #{descSourc,jdbcType=VARCHAR },
                line_state_date= #{lineStateDate,jdbcType=TIMESTAMP },
                purtitle= #{purtitle,jdbcType=VARCHAR },
                brand_id= #{brandId,jdbcType=INTEGER },
                purchaser_id= #{purchaserId,jdbcType=INTEGER },
                product_len= #{productLen,jdbcType=SMALLINT },
                product_width= #{productWidth,jdbcType=SMALLINT },
                product_height= #{productHeight,jdbcType=SMALLINT },
                product_weight= #{productWeight,jdbcType=SMALLINT },
                product_volweight= #{productVolweight,jdbcType=SMALLINT },
                battery= #{battery,jdbcType=INTEGER },
                model= #{model,jdbcType=VARCHAR },
                psid= #{psid,jdbcType=INTEGER },
                updatedate2= #{updatedate2,jdbcType=TIMESTAMP },
                rmacategoryid= #{rmacategoryid,jdbcType=INTEGER },
                region= #{region,jdbcType=INTEGER },
                create_user_id= #{createUserId,jdbcType=INTEGER },
                pro_features= #{proFeatures,jdbcType=VARCHAR },
                categoryid= #{categoryid,jdbcType=INTEGER },
                subcategoryid= #{subcategoryid,jdbcType=INTEGER },
                is_package= #{isPackage,jdbcType=INTEGER },
                color= #{color,jdbcType=INTEGER },
                model_id= #{modelId,jdbcType=INTEGER },
                magnetic= #{magnetic,jdbcType=SMALLINT },
                sku_type= #{skuType,jdbcType=SMALLINT }
        </set>
        WHERE skuid = #{skuid,jdbcType=INTEGER}

    </update>


    <select id="selectPage" parameterType="com.sunvalley.erp.product.model.ItemExample" resultMap="selectPageResult">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from bs_item
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        LIMIT ${skipRecordCount} , ${pageSize}
    </select>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO bs_item
        (<include refid="Base_Column_List"></include>)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            ( <include refid="ValuesBatch"></include> )
        </foreach>
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM  bs_item
        WHERE skuid = #{skuid,jdbcType=INTEGER}
    </delete>
    <!-- ================================代码生成结束=2017-10-13 02:11:30=========================================== -->
</mapper>
