
#.gitignore for java
*.class
/target
/out
/build
/.settings
.classpath
.project
*.class

# logs
/logs
*.log.*

# Package Files #
*.jar
!generator.jar
*.war
*.ear

# .gitignore foridea
/.idea
.idea/
/*.iml
.svn/

# .gitignore for eclipse

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath




/generator_config
/.svn
/src/main/webapp/vod-student
/docs/~$像回放白名单.docx
/docs/sql/*.sql
env
/src/main/resources/env
