
#.gitignore for java
*.class
/target
/out
/build
/.settings
.classpath
.project
*.class

# logs
/logs
*.log.*

# Package Files #
*.jar
!generator.jar
*.war
*.ear

# .gitignore foridea
/.idea
.idea/
/*.iml
.svn/

# .gitignore for eclipse

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

/.svn
/src/main/resources/env
/sunvalley-parent/.idea
/sunvalley-domain-product/target
/sunvalley-domain-product/*.iml
/sunvalley-api-product/target
/sunvalley-api-product/*.iml
/erp-parent/logs/*.log
/erp-domain/*.iml
/erp-parent/*.iml
