<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cache="http://www.springframework.org/schema/cache"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

	<bean id="configPlace" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:redis.properties</value>
			</list>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>

	<!-- 配置redis连接池 -->
	<bean id="redisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="${redis.pool.maxTotal}" />
		<property name="maxIdle" value="${redis.pool.maxIdle}" />
		<property name="minIdle" value="${redis.pool.minIdle}" />
		<property name="maxWaitMillis" value="${redis.pool.maxWaitMillis}" />
		<property name="testOnBorrow" value="${redis.pool.testOnBorrow}" />
		<property name="testOnReturn" value="${redis.pool.testOnReturn}" />
	</bean>

	<!-- 配置单台redis服务器 -->
	<!-- 	
		<bean id="redisPool" class="redis.clients.jedis.JedisPool">
			<constructor-arg index="0" ref="redisPoolConfig" />
			<constructor-arg index="1" value="${redis.host}" />
			<constructor-arg index="2" value="${redis.port}" type="int" />
			<constructor-arg index="3" value="${redis.timeout}" type="int" />
			<constructor-arg index="4" value="${redis.password}" />
		</bean> 
	-->
	
	<!-- 配置redis集群服务器 -->
	<bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool">
		<constructor-arg index="0" ref="redisPoolConfig" />
		<constructor-arg index="1">
			<list>
				<bean class="redis.clients.jedis.JedisShardInfo">
					<constructor-arg index="0" value="${redis.host1}" />
					<constructor-arg index="1" value="${redis.port}" type="int" />
					<constructor-arg index="2" value="${redis.timeout}" type="int" />
					<!-- 设置密码 -->
					<property name="password" value="${redis.password}" /> 
				</bean>
				<!-- 没有第二台缓存服务器，暂不开启
					<bean class="redis.clients.jedis.JedisShardInfo">
					<constructor-arg index="0" value="${redis.host2}" />
					<constructor-arg index="1" value="${redis.port}" type="int" />
					<constructor-arg index="2" value="${redis.timeout}" type="int" />
					<property name="password" value="${redis.password}" />
				</bean> -->
			</list>
		</constructor-arg>
	</bean>

	<!--<cache:annotation-driven cache-manager="cacheManager" />-->

	<!-- spring自己的换管理器，这里定义了两个缓存位置名称 ，既注解中的value -->
	<!--<bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">-->
		<!--<property name="caches">-->
			<!--<set>-->
				<!--<bean class="org.cpframework.cache.redis.RedisCache">-->
					<!--<property name="redisTemplate" ref="redisTemplate" />-->
					<!--<property name="name" value="default"/>-->
				<!--</bean>-->
				<!--<bean class="org.cpframework.cache.redis.RedisCache">-->
					<!--<property name="redisTemplate" ref="redisTemplate02" />-->
					<!--<property name="name" value="commonCache"/>-->
				<!--</bean>-->
			<!--</set>-->
		<!--</property>-->
	<!--</bean>-->

</beans>