<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunvalley.erp.daoEX.product.SequenceExMapper" >

    <!-- 新增一个序列 -->
    <insert id="insert" parameterType="com.sunvalley.erp.model.product.Sequence">
        INSERT INTO sys_sequence
        (
        name,
        value,
        step,
        start
        )
        VALUES(
        #{name},
        #{value},
        #{step},
        #{start}
        )
    </insert>

    <!-- 根据序列名称查询 -->
    <select id="select" resultType="com.sunvalley.erp.model.product.Sequence" parameterType="String">
        SELECT
        name,
        value,
        step,
        start
        FROM sys_sequence
        WHERE name = #{name}
    </select>

    <!-- 更新序列的值 -->
    <update id="update" parameterType="String">
        UPDATE sys_sequence SET value = value + step
        WHERE name = #{name}
    </update>

    <!-- 根据传的步长更新序列 -->
    <update id="updatesome" parameterType="Map">
        UPDATE sys_sequence SET value = value + #{step}
        WHERE name = #{name}
    </update>

    <!-- 查询序列的部分信息 -->
    <select id="selectone" parameterType="String" resultType="com.sunvalley.erp.model.product.Sequence">
        SELECT
        value as currentvalue,
        value as endvalue
        FROM sys_sequence
        WHERE name = #{name}
    </select>

    <select  id="getSeq"  statementType="CALLABLE" resultType="INTEGER">
       {    CALL generateSeq(
           #{name,jdbcType=VARCHAR,mode=IN},
           #{value,jdbcType=INTEGER,mode=OUT})
       }
    </select >

    <!--<select  id="getSeq" parameterType="String" statementType="CALLABLE" resultType="Map">-->
        <!--CALL generateSeq(#{seqName,jdbcType=VARCHAR,mode=IN},#{seq,jdbcType=INTEGER,mode=OUT})-->
    <!--</select >-->

</mapper>