<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunvalley.erp.product.daoEX.ItemExMapper">

	<select id="searchSkuCategoryName" parameterType="Map" resultType="ItemLocale">
		SELECT
		ItemLocale.skuid,
		ItemLocale.lang_id,
		ItemLocale.sku,
		ItemLocale.description,
		Item.len,
		IFNULL(Item.purspec,'') purspec,
		IFNULL(Item.purdesc,'') purdesc,
		Item.weight,
		Item.width,
		Item.height,
		icustom.category_name_id,
		icustom.commodityunit unit,
		cname.category_name categoryName,
		Item.haspic,
		Item.brand_id,
		CONCAT(IFNULL(Item.purspec,''),IFNULL(Item.purdesc,'')) as model
		FROM bs_item_locale ItemLocale
		<choose>
			<when test="isdrop != null">
				inner JOIN bs_item Item ON Item.skuid = ItemLocale.skuid and Item.isdrop=#{isdrop}
				LEFT JOIN (
				select
				*
				from (
				select
				a.skuid,
				a.seller_id,
				a.isdrop
				from bs_item_drop_category a
				left join sys_company_bu b on b.companyid=#{seller_id,jdbcType=INTEGER}
				where a.seller_id=b.categoryid
				or a.seller_id=#{seller_id,jdbcType=INTEGER}
				order by a.skuid,a.seller_id desc
				) ItemDrop
				group by ItemDrop.skuid
				) ItemDrop ON ItemDrop.skuid=Item.skuid
			</when>
			<otherwise>
				inner JOIN bs_item Item ON Item.skuid = ItemLocale.skuid
				LEFT JOIN bs_item_custom  icustom ON icustom.skuid = Item.skuid AND icustom.stateid = 'CN'
				LEFT JOIN scm_customs_category_name cname ON cname.id = icustom.category_name_id
			</otherwise>
		</choose>
		WHERE
		ItemLocale.lang_id = #{lang_id}
		<if test="categoryid != null">
			AND Item.categoryid IN
			<foreach item="item" index="index" collection="categoryid" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<choose>
			<when test="description != null">
				AND (ItemLocale.sku LIKE #{sku} OR ItemLocale.description LIKE #{description})
			</when>
			<otherwise>
				AND ItemLocale.sku LIKE #{sku}
			</otherwise>
		</choose>
		<if test="isdrop != null">
			AND (ItemDrop.isdrop is null or ItemDrop.isdrop=#{isdrop})
		</if>
		<if test="limit >0 ">
			limit #{limit,jdbcType=INTEGER}
		</if>
	</select>

	<select id="getSkuBaseInfo" parameterType="Map" resultType="SkuBaseInfoTO">
		SELECT
		item.sku,
		item.skuid skuId,
		item.line_state AS lineState,
		item.categoryid categoryId,
		item.subcategoryid subCategortId,
		lc.product_line_name categoryStr,
		ls.product_line_name subCategoryStr,
		item.brand_id brandId,
		model.model_name model,
		item.model_id modelId,
		model.pm_id pmId,
		CONCAT(
		sysu.firstname,
		'.',
		sysu.lastname
		) pmName,
		item.battery,
		item.rmacategoryid,
		item.region,
		pre.pre_sku preSku,
		item.color,
		GROUP_CONCAT(DISTINCT mapping.maping) anrule,
		GROUP_CONCAT(DISTINCT mappings.maping) country,
		item.is_package isPackage,
		item.magnetic,
		item.combine_unit combineUnit,
		model.warranty,
		item.purchase_property purchaseProperty,
		IFNULL(item.purspec, '') purSpec,
		IFNULL(item.purdesc, '') purDesc,
		item.remark bomDesc,
		item.width,
		item.height,
		item.weight,
		item.len,
		item.product_len productLen,
		item.product_width productWidth,
		item.product_height productHeight,
		item.product_weight productWeight,
		CONCAT(
		purchase.firstname,
		" ",
		purchase.lastname
		) AS purchaserName
		FROM
		bs_item AS item
		LEFT JOIN bs_prepare_sku pre ON pre.skuid = item.skuid
		LEFT JOIN bs_item_model AS model ON item.model_id = model.model_id
		LEFT JOIN bs_product_line_mapping mc ON mc.mapping_id = item.skuid AND mc.product_line_id = item.categoryid AND mc.type = 1
		LEFT JOIN bs_product_line_mapping sc ON sc.mapping_id = item.skuid AND sc.product_line_id = item.subcategoryid AND sc.type = 1
		LEFT JOIN bs_product_line lc ON lc.id = item.categoryid
		LEFT JOIN bs_product_line ls  ON ls.id = item.subcategoryid
		LEFT JOIN sys_user purchase ON purchase.userid = item.purchaser_id
		LEFT JOIN sys_user sysu ON sysu.userid = item.pmid
		LEFT JOIN bs_item_mapping mapping ON mapping.skuid = item.skuid AND mapping.data_type = 1 AND mapping.data_origin = 1
		LEFT JOIN bs_item_mapping mappings ON mappings.skuid = item.skuid AND mappings.data_type = 2  AND mapping.data_origin = 1
		LEFT JOIN bs_bom AS bom ON bom.skuid = item.skuid
		<if test="sku != null">
			WHERE  item.sku=#{sku}
		</if>

		<if test="skuId != null">
			WHERE  item.skuid=#{skuId}
		</if>


	</select>

	<select id="getPreSkuBaseInfo" parameterType="Map" resultType="SkuBaseInfoTO">
		SELECT
		DISTINCT
		m.main_category_id categoryId,
		m.sub_category_id subCategortId,
		maincategory.product_line_name categoryStr,
		subcategory.product_line_name subCategoryStr,
		m.brand_id brandId,
		m.model_id modelId,
		m.model_name model,
		m.pm_id pmId,
		CONCAT(sysu.firstname,'.',sysu.lastname) pmName,
		m.battery,
		m.rmacategoryid,
		s.region,
		<if test="preskuId!=null">
			s.color,
			anrule.anrule anrule,
			anrule.anruleStr anruleStr,
			country.country country,
			s.pre_sku preSku,
		</if>
		m.magnetic,
		m.warranty,
		s.product_name productName,
		ItemBrand.brand_desc brandDesc
		FROM
		bs_item_model m
		LEFT JOIN bs_prepare_sku s ON m.model_id = s.model_id
		LEFT JOIN bs_item_mapping a ON a.skuid = s.id
		JOIN bs_item_brand ItemBrand on ItemBrand.brand_id=m.brand_id
		AND a.data_type = 1
		AND a.data_origin = 2
		LEFT JOIN (
		SELECT
		mapping.skuid skuid,
		group_concat(basic.attribute) anruleStr,
		group_concat(basic. VALUE) anrule
		FROM
		bs_item_mapping mapping
		LEFT JOIN bs_item_basic_data basic ON mapping.maping = basic.`value`
		WHERE
		mapping.data_type = 1
		AND basic.type = 2
		<if test="preskuId!=null">
			and mapping.skuid =  #{preskuId}
		</if>
		GROUP BY
		mapping.skuid
		) anrule ON s.id = anrule.skuid
		LEFT JOIN (
		SELECT
		mapping.skuid skuid,
		group_concat(mapping.maping) country
		FROM
		bs_item_mapping mapping
		WHERE
		mapping.data_type = 2
		<if test="preskuId!=null">
			and mapping.skuid =  #{preskuId}
		</if>
		GROUP BY
		mapping.skuid
		) country ON country.skuid = s.id
		LEFT JOIN bs_product_line maincategory ON maincategory.id = m.main_category_id
		LEFT JOIN bs_product_line subcategory ON subcategory.id = m.sub_category_id
		LEFT JOIN sys_user sysu ON sysu.userid = m.pm_id

		WHERE
		1 = 1
		<if test="preskuId!=null">
			and s.id = #{preskuId}
		</if>
		<if test="modelId!=null">
			and m.model_id =#{modelId}
		</if>


	</select>

	<select id="listSkuListNew" resultType="SkuListNewTO" parameterType="Map">
		SELECT
			Item.skuid skuId,
			Item.sku,
			Locale.description,
			Item.model,
			ItemBrand.brand_desc brandDesc,
			Item.region,
			Item.`line_state` lineState,
			Item.is_package isPackage,
			Item.magnetic,
			CONCAT(Sysu.firstname,'.',Sysu.lastname) pmName,
			CONCAT(Creator.firstname ,' ',Creator.lastname) creator,
			Item.create_date createDate
			from bs_item as Item
			LEFT JOIN bs_item_model AS Model ON Item.model_id=Model.model_id
		    LEFT JOIN bs_bom as Bom on Bom.skuid=Item.skuid
			LEFT join `bs_item_locale` as Locale on Locale.`skuid`=Item.`skuid` AND Locale.lang_id=#{langId,jdbcType=INTEGER}
			LEFT JOIN bs_item_brand ItemBrand on ItemBrand.brand_id=Item.brand_id
			LEFT JOIN sys_user Sysu ON Sysu.userid = Model.pm_id
			LEFT JOIN sys_user Creator ON Creator.userid = Item.create_user_id
		     WHERE 1 = 1
			<if test="filtersql != null">
				${filtersql}
			</if>
		     order by  Item.skuid desc
			<if test="offset != null">
			LIMIT ${offset},${limit}
			</if>
	</select>

	<select id="countSkuListNew" resultType="int" parameterType="Map">
		SELECT
		count(*)
		from bs_item as Item
		LEFT JOIN bs_item_model AS Model ON Item.model_id=Model.model_id
		LEFT JOIN bs_bom as Bom on Bom.skuid=Item.skuid
		left join `bs_item_locale` as Locale on Locale.`skuid`=Item.`skuid`  AND Locale.lang_id=#{langId,jdbcType=INTEGER}
		LEFT JOIN bs_item_brand ItemBrand on ItemBrand.brand_id=Item.brand_id
		LEFT JOIN sys_user Sysu ON Sysu.userid = Model.pm_id
		LEFT JOIN sys_user Creator ON Creator.userid = Item.create_user_id
		WHERE 1 = 1
		<if test="filtersql != null">
			${filtersql}
		</if>
	</select>

	<select id="getPreSkuRelation" parameterType="int" resultType="com.sunvalley.erp.product.modelEX.PreSkuRelation">
		SELECT pre.skuid preSkuId,pre.sku preSku,item.skuid skuId,item.sku
		FROM   `bs_prepare_sku` AS pre
		JOIN bs_item AS item  ON item.skuid =pre.skuid
		WHERE item.skuid=#{skuId}
	</select>

	<select id="listBySameModel" parameterType="int" resultType="com.sunvalley.erp.to.product.SkuDescTO">
		SELECT skuid skuId,sku, IFNULL(purdesc,"") purDesc, IFNULL(purspec,"") purSpec FROM  `bs_item` WHERE  model_id = (SELECT model_id FROM  `bs_item` WHERE skuid=#{skuid}) AND model_id IS NOT NULL
	</select>


	<!-- 根据sku查询概要信息 -->
	<select id="getSkuSimpleInfo" parameterType="Map" resultType="com.sunvalley.erp.to.product.SkuSimpleInfoTO">
		SELECT
		ItemLocale.skuid,
		ItemLocale.sku,
		ItemLocale.description,
		Item.weight,
		Item.volweight,
		Item.sku_type skuType,
		IFNULL(Item.purspec,'') as purspec,
		IFNULL(Item.purdesc,'') as purdesc,
		Item.purtitle,
		Item.purchaser_id purchaserId,
		users.isactive isactive,
		bom.bom_desc bomDesc,
		bom.purchase_property purchaseProperty,
		case  WHEN bom.purchase_property=1 then '甲方提供'
		when bom.purchase_property=2 then '乙方提供'
		else ' ' END purchasePropertyStr
		FROM bs_item_locale ItemLocale
		<choose>
			<when test="isdrop != null">
				inner JOIN bs_item Item ON Item.skuid = ItemLocale.skuid and Item.isdrop=#{isdrop}
				LEFT JOIN sys_user users ON users.userid = Item.purchaser_id
				LEFT JOIN (
				select
				*
				from (
				select
				a.skuid,
				a.seller_id,
				a.isdrop
				from bs_item_drop_category a
				left join sys_company_bu b on b.companyid=#{sellerId,jdbcType=INTEGER}
				where a.seller_id=b.categoryid
				or a.seller_id=#{sellerId,jdbcType=INTEGER}
				order by a.skuid,a.seller_id desc
				) ItemDrop
				group by ItemDrop.skuid
				) ItemDrop ON ItemDrop.skuid=Item.skuid
			</when>
			<otherwise>
				inner JOIN bs_item Item ON Item.skuid = ItemLocale.skuid
				LEFT JOIN sys_user users ON users.userid = Item.purchaser_id
			</otherwise>
		</choose>
		left join bs_bom bom on bom.skuid = ItemLocale.skuid
		WHERE ItemLocale.sku = #{sku}
		AND ItemLocale.lang_id = #{langId}
		<if test="isdrop != null">
			AND (ItemDrop.isdrop is null or ItemDrop.isdrop=1)
		</if>
	</select>


	<update id="copyVirtualFromSku" parameterType="Map">
		INSERT  INTO  bs_item_virtual (
		SELECT #{skuid},src.actual_skuid,src.qty from  `bs_item_virtual` src
		LEFT JOIN bs_item_virtual tar  ON src.actual_skuid=tar.actual_skuid AND tar.virtual_skuid=#{skuid}
		JOIN bs_item AS i ON src.virtual_skuid = i.skuid
		WHERE i.sku=#{sku}  and   tar.virtual_skuid is null
		);
	</update>


</mapper>