<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunvalley.erp.product.daoEX.ItemVirtualExMapper">

    <update id="copyVirtualFromSku" parameterType="Map">
        INSERT  INTO  bs_item_virtual (
        SELECT #{skuid},src.actual_skuid,src.qty from  `bs_item_virtual` src
        LEFT JOIN bs_item_virtual tar  ON src.actual_skuid=tar.actual_skuid AND tar.virtual_skuid=#{skuid}
        LEFT JOIN bs_item_virtual ign ON src.actual_skuid=ign.virtual_skuid
        JOIN bs_item AS i ON src.virtual_skuid = i.skuid
        WHERE i.sku=#{sku}  AND src.actual_skuid &lt;&gt; #{skuid} AND tar.actual_skuid IS NULL AND ign.virtual_skuid IS NULL
        );
    </update>


    <select id="checkSubSkuLevel"  parameterType="string" resultType="Integer">
        SELECT A.actual_skuid FROM bs_item_virtual A
        LEFT JOIN bs_item_virtual B ON A.virtual_skuid=B.actual_skuid
        JOIN bs_item item ON item.`skuid`=#{skuId}
        WHERE  item.sku=#{sku} and A.actual_skuid= item.`skuid` AND B.virtual_skuid IS NOT NULL LIMIT 1 ;
    </select>

</mapper>