<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunvalley.erp.product.daoEX.PrepareSkuExMapper" >
	
	<select id="initByModel" parameterType="map" resultType="PreSkuTO">
		SELECT
			model.model_id modelId,
			model.model_name model,
			model.brand_id brandId,
			brand.brand_desc brandDesc,
			model.pm_id pmId,
			CONCAT(
				sysu.firstname,
				'.',
				sysu.lastname
			) pmName,
			mianline.product_code mainBrandCode,
			mianline.id mainCategoryId,
			brand.brand_code mainModelNo,
			subline.model_no subModelNo,
			subline.id subCategoryId,
			subline.product_code subBrandCode,
			common.custom_name customName,
			common.sale_dept saleDept,
			common.standard_size standardSize,
			common.weight weight,
			common.shipping_type shippingType,
			common.mc mc,
			common.sale_price salePrice,
			common.setup_date setupDate,
            model.remark,
            model.magnetic,
            model.battery,
            model.warranty,
            model.rmacategoryid
		FROM
			bs_item_model model
		INNER JOIN bs_item_brand brand ON model.brand_id = brand.brand_id
		LEFT JOIN sys_user sysu ON sysu.userid = model.pm_id
		LEFT JOIN bs_item_pre_commom common ON model.model_id = common.model_id
		LEFT JOIN bs_product_line mianline ON model.main_category_id = mianline.id
		AND mianline.product_type = 2
		LEFT JOIN bs_product_line subline ON model.sub_category_id = subline.id
		AND subline.product_type = 3
		WHERE
			model.model_name = #{model}
	</select>

	<select id="preSkuGrid" parameterType="map" resultType="PreSkuGridTO">
		SELECT
			pre.id id,
			pre.pre_sku preSku,
			pre.product_name productName,
			pre.sku sku,
			anrule.anruleStr anruleStr,
			anrule.anrule anrule,
			pre.color color,
			basic.attribute colorStr,
			country.country country,
			pre.sale_qty saleQty,
			pre.market_capacity marketCapacity,
			pre.rma_ratio rmaRatio,
			pre.mp_date mpDate,
			pre.region saleZone,
			pre.`status`,
			pre.remark remark
		FROM
			bs_prepare_sku pre
		LEFT JOIN bs_item_basic_data basic ON basic.`value` = pre.color
		AND basic.type = 1
		LEFT JOIN (
			SELECT
				mapping.skuid skuid,
				group_concat(basic.attribute) anruleStr,
				group_concat(basic. VALUE) anrule
			FROM
				bs_item_mapping mapping
			LEFT JOIN bs_item_basic_data basic ON mapping.maping = basic.`value`
			WHERE
				mapping.data_type = 1
			AND basic.type = 2
			GROUP BY
				mapping.skuid
		) anrule ON pre.id = anrule.skuid
		LEFT JOIN (
			SELECT
				mapping.skuid skuid,
				group_concat(mapping.maping) country
			FROM
				bs_item_mapping mapping
			WHERE
				mapping.data_type = 2
			GROUP BY
				mapping.skuid
		) country ON country.skuid = pre.id
		WHERE (1=1)
		<if test="model_id != null">
			and model_id =  #{model_id}
	    </if>
		<if test="status != null">
			and pre.status =  #{status}
	    </if>
	    <if test="id != null">
			and pre.id =  #{id}
	    </if>
	    <if test="preSku != null">
			and pre.pre_sku =  #{preSku}
	    </if>
	</select>
	
	<select id="packageSkuList" parameterType="map" resultType="PackageSkuTO">
		SELECT
			item.sku sku,
			anrule.anruleStr anruleStr,
			anrule.anrule anrule,
			basic.attribute colorStr
		FROM
			bs_item item
		LEFT JOIN (
			SELECT
				mapping.skuid skuid,
				group_concat(basic.attribute) anruleStr,
				group_concat(basic. VALUE) anrule
			FROM
				bs_item_mapping mapping
			LEFT JOIN bs_item_basic_data basic ON mapping.maping = basic.`value`
			WHERE
				mapping.data_type = 1
			AND basic.type = 2
			GROUP BY
				mapping.skuid
		) anrule ON item.skuid = anrule.skuid
		LEFT JOIN bs_item_basic_data basic ON item.color = basic.`value`
		AND basic.type = 1
		WHERE
			item.is_package = 2
		AND item.model = #{model}
	</select>

	<select id="listModelAndPreSku" parameterType="map" resultType="ModelAndPreSkuTO">
		SELECT
		anruleStr safety,
		country.country safetyCountry,
		country.skuid,
		b.create_date createDate,
		model.create_date modelCreateDate,
		CONCAT(
		users.firstname,
		'.',
		users.lastname
		)createUserIdStr,
		model.model_name model,
		brand.brand_desc brandDesc,
		b.pre_sku preSku,
		b.sku sku,
		b.`status` STATUS,
		line.product_line_name mainProLineName,
		l.product_line_name subProLineName,
		concat(u.firstname, '.', u.lastname)pmName,
		d.attribute colorStr,
		model.model_id modelId,
		model.battery,
		model.warranty,
		model.rmacategoryid,
		model.magnetic,
		rma.rma_name rmaName
		FROM
		bs_item_model model
		LEFT JOIN  so_rma_reason_category AS rma on rma.id=model.rmacategoryid
		LEFT JOIN bs_prepare_sku b ON model.model_id = b.model_id
		LEFT JOIN(
		SELECT
		a.skuid skuid,
		group_concat(basic.attribute)anruleStr,
		group_concat(basic. VALUE)anrule
		FROM
		bs_item_mapping a
		LEFT JOIN(
		SELECT
		maping.skuid skuid
		FROM
		bs_item_mapping maping
		WHERE
		maping.data_type = 1
		<if test="sql!=null">
			${sql}
		</if>
		GROUP BY
		maping.skuid
		)b ON b.skuid = a.skuid
		LEFT JOIN bs_item_basic_data basic ON a.maping = basic.`value`
		WHERE
		a.data_type = 1
		AND basic.type = 2
		GROUP BY
		b.skuid
		)anrule ON b.id = anrule.skuid



		left join (SELECT
		a.skuid skuid,
		group_concat(a.maping) country
		FROM
		bs_item_mapping a
		LEFT JOIN (
		SELECT
		mapping.skuid skuid
		FROM
		bs_item_mapping mapping
		WHERE
		mapping.data_type = 2
		<if test="filsql!=null">
			${filsql}
		</if>
		GROUP BY
		mapping.skuid
		) b ON a.skuid = b.skuid
		AND a.data_type = 2
		where a.data_type = 2
		GROUP BY a.skuid)country on country.skuid=b.id


		LEFT JOIN bs_item_basic_data d ON d.`value` = b.color
		AND d.type = 1
		LEFT JOIN sys_user users ON users.userid = b.create_user_id
		LEFT JOIN bs_item_brand brand ON brand.brand_id = model.brand_id
		LEFT JOIN bs_product_line line ON line.id = model.main_category_id
		AND line.product_type = 2
		LEFT JOIN bs_product_line l ON l.id = model.sub_category_id
		AND l.product_type = 3
		LEFT JOIN sys_user u ON u.userid = model.pm_id
		WHERE
		1 = 1
		<if test="filtersql != null">
			${filtersql}
		</if>
		<if test="sql!=null">
			and anruleStr is NOT null
		</if>
		<if test="filsql!=null">
			and country.country is NOT null
		</if>
		order by model.create_date desc
		LIMIT ${offset},${pageSize}
	</select>

	<select id="countModelAndPreSku" parameterType="map" resultType="int">
		select
		count(model.model_id)id
		FROM
		bs_item_model model
		LEFT JOIN bs_prepare_sku b ON model.model_id = b.model_id
		LEFT JOIN(
		SELECT
		a.skuid skuid,
		group_concat(basic.attribute)anruleStr,
		group_concat(basic. VALUE)anrule
		FROM
		bs_item_mapping a
		LEFT JOIN(
		SELECT
		maping.skuid skuid
		FROM
		bs_item_mapping maping
		WHERE
		maping.data_type = 1
		<if test="sql!=null">
			${sql}
		</if>
		GROUP BY
		maping.skuid
		)b ON b.skuid = a.skuid
		LEFT JOIN bs_item_basic_data basic ON a.maping = basic.`value`
		WHERE
		a.data_type = 1
		AND basic.type = 2
		GROUP BY
		b.skuid
		)anrule ON b.id = anrule.skuid
		left join (SELECT
		a.skuid skuid,
		group_concat(a.maping) country
		FROM
		bs_item_mapping a
		LEFT JOIN (
		SELECT
		mapping.skuid skuid
		FROM
		bs_item_mapping mapping
		WHERE
		mapping.data_type = 2
		<if test="filsql!=null">
			${filsql}
		</if>
		GROUP BY
		mapping.skuid
		) b ON a.skuid = b.skuid
		AND a.data_type = 2
		where a.data_type = 2
		GROUP BY a.skuid)country on country.skuid=b.id
		LEFT JOIN bs_item_basic_data d ON d.`value` = b.color
		AND d.type = 1
		LEFT JOIN sys_user users ON users.userid = b.create_user_id
		LEFT JOIN bs_item_brand brand ON brand.brand_id = model.brand_id
		LEFT JOIN bs_product_line line ON line.id = model.main_category_id
		AND line.product_type = 2
		LEFT JOIN bs_product_line l ON l.id = model.sub_category_id
		AND l.product_type = 3
		LEFT JOIN sys_user u ON u.userid = model.pm_id
		WHERE
		1 = 1
		<if test="filtersql != null">
			${filtersql}
		</if>
		<if test="sql!=null">
			and anruleStr is NOT null
		</if>
		<if test="filsql!=null">
			and country.country is NOT null
		</if>
	</select>


	<update id="updatePreSkuStatus" parameterType="map">
		UPDATE bs_prepare_sku
		SET `status` = '2',skuid = #{skuid,jdbcType=INTEGER},sku = #{sku}
		WHERE (1=1)
		<if test="filtersql.length() != 0">
			${filtersql}
		</if>
	</update>

	 
</mapper>