<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunvalley.erp.product.daoEX.ProductLineMappingExMapper">
    <select id="getProductLineMappingList" resultType="ProductLineMappingDTO" parameterType="map" >
        SELECT
        m.id,
        m.product_line_id productLineId,
        m.mapping_id mappingId,
        m.type,
        m.create_user_id createUserId,
        m.create_date createDate,
        line.product_code productCode,
        li.product_line_name productLineNamed
        FROM
        bs_product_line_mapping m
        LEFT JOIN bs_product_line line ON line.id = m.mapping_id
        LEFT JOIN bs_product_line li ON li.id = m.product_line_id
        WHERE (1=1)
        <if test="filtersql != null">
            ${filtersql}
        </if>
    </select>

</mapper>