<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunvalley.erp.product.daoEX.VideoExMapper">
    <select id="selectBySkuId" resultType="com.sunvalley.erp.to.product.ItemVideoTO" parameterType="int">
        <![CDATA[
		SELECT
			sys_video.video_id  videoId,
			sys_video.video_name videoName,
			sys_video.object_id  skuId,
			sys_video.video_url videoUrl,
			sys_video.sort_num sortNum,
			sys_video.user_id userId,
			sys_video.width,
			sys_video.height,
			sys_video.create_date createDate,
			sys_video.update_date updateDate,
			bs_item.sku,
			CONCAT(sys_user.firstname,'.',sys_user.lastname) as userName
		FROM sys_video
		LEFT JOIN bs_item on sys_video.object_id=bs_item.skuid
		LEFT JOIN sys_user on sys_video.user_id=sys_user.userid
		WHERE object_id=#{skuId,jdbcType=INTEGER}
		AND video_type=1
		AND deleted=0
		ORDER BY sys_video.sort_num	ASC
	]]>
    </select>
</mapper>
